@mixin p_text_section_3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
     color: #351F21;
     text-align: center;
     width: 150px;
height: 52px;
margin-top: -3px;
}