* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 760px;
    height: 70px;
    background-color: #A9BFE4;
}

.logo {
    width: 136.48px;
    height: 55px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 333px;
}

nav li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 55px;
    height: 20px;
    right: 65px;
}


.section_1 {
    margin: 0 auto;
    width: 760px;
    height: 455px;
    display: flex;
}

.left_side_content {
    flex-direction: column;
    width: 50%;
}

.main_title {
    position: relative;
    margin: 0;
    width: 300px;
    height: 64px;
    left: 63px;
    top: 163px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #351F21;
}

.description {
    display: grid;
    position: relative;
    margin: 0;
    width: 303px;
    height: 63px;
    left: 63px;
    top: 177px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #351F21;
}

.buttons_section_1 {
    position: relative;
    margin: 0;
    top: 193px;
    left: 63px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    width: 282px;
    height: 30px;
}

.basket_btn {
    width: 130px;
    border-radius: 50px;
    border: 0;
    background: #FFC2C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;

}

.catalog_btn {
    width: 130px;
    border: 2px solid #FFC2C7;
    border-radius: 50px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #989EC3;
    background-color: #fff;
}

.right_side_img {
    display: flex;
    align-items: center;
    width: 50%;
}

.section_2 {
    margin: 0 auto;
    width: 760px;
    height: 405px;
    display: flex;
    flex-direction: column;
}

.top_side_img{
    position: relative;
    display: inline-flex;
    width: 100%;
    left: 63px;
    height: 145px;


}

.bottom_side__content{
    display: flex;
    position: relative;
    left: 63px;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.25);
    
}

.social{
    display: flex;
    align-items: flex-end;
    /* width: 50%; */
}

